/Images
/data
/Raw_Data
/data_JSON
/Evaluator_Dataset
/Classical_eval
/models
/Evaluator_Dataset_Small
/Evaluator_Dataset_mini
/Evaluator_Dataset_balanced
/Evaluator_Dataset_Test
/Evaluator_Dataset_Test copy
/Evaluator_Dataset_Validation
/Evaluator_Dataset_Validation_balanced
/Iterative_dataset
