/Images
/data
/Raw_Data
/data_JSON
/Evaluator_Dataset
/Classical_eval
/models
/Evaluator_Dataset_Small
/Evaluator_Dataset_mini
/Evaluator_Dataset_balanced
/True_RAW Data
/UNET-6-arg
/Evaluator_Dataset_Test
/iterative_runs
/best_evaluator_model_1.pth
